@media (max-width: 600px) {

    body{
        border: 6px solid black;
    }

    .home-navbar{
        border-left: 6px solid black;
        border-top: 6px solid black;
        border-right: 6px solid black;
    }
    .home-left{
        display: none;
    }
    .home-right{
        display: none;
    }
    .home-container01{
        display: none;
    }
    .navbar-logo-title{
        margin: 0px;
    }
    .home-hero1{
        flex-direction: column;
    }

    .home-container03{
        align-items: center;
    }

    .category-card-category-card {
        flex: 0 1 auto;
    }

    .home-cards-container {
        justify-content: space-around;
        align-items: center;
    }

    

    .category-card-category-card {
        
        width: 260px;
        
    }

    .category-card-image {
        width: 260px;
        height: 260px;
        
    }

    .home-main .section-container {
        
        padding-top: 48px;
        
    }

    .max-width-container {
        
        padding-left: 6px;
        padding-right: 6px;
    }

    .section-container {
        
        padding-top: 90px;
        flex-direction: column;
    }
    
    .home-content {
        margin: 20px;
        align-items: center;
        justify-content: center;
    }
    .home-left4 {
        
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .home-text30 {
        
        width: 400px;
       
    }
    
    .home-image6 {
        width: 100%;
        
    }
}
