body{
    font-family: "Raleway", sans-serif;
    color: #222222;
}

.hero{
    max-width: 1920px;
    background-color: #efefef;
    margin: 32px auto;
    height: calc(100vh - 36px);
    padding: 12px 64px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    overflow: hidden;
    
}

.hero .info{
    flex: 0 0 50%;
}
.hero .img{
    flex: 0 1 35%;
    position: absolute;
    bottom: 0px;
    right: 32px;
    width: 50%;
}

.hero .menu{
    position: absolute;
    top: 10px;
    right: 44px;
    font-size: 24px;
    
}

.hero .menu a{
    text-decoration: none;
    color: #222222;
    padding-right: 6px;
}

.title{
    font-size: 56px;
    font-weight: normal;
    margin-bottom: 64px;
}

.hero .info .title span{
    color: #909090;
    font-weight: 200;
}

.hero .info .content{
    font-style: italic;
    margin-bottom: 64px;
    font-size: 18px;
}

.hero .info .line-vertical{
    height: 100px;
    width: 1px;
    background-color: #909090;
}


.camera{
    max-width: 1920px;
    background-color: #efefef;
    margin: 36px auto;
    height: calc(100vh - 36px);
    padding: 12px 128px;
    overflow: hidden;

    display: flex;
    gap: 10%;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: space-between;

}

.camera .img{
    flex: 0 1 35%;
    width: 50%;
}
.camera .info{
    flex: 0 0 50%;

}

.camera .info .title{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 64px;
    
}

.camera .info .horizontal-line{
    width: 100px;
    height: 1px;
    background-color: #909090;

}

.camera .info h2{
    font-size: 56px;
    font-weight: normal;
    
}

.camera .info h2 .gray-text{
    color: #909090;
    font-weight: 200;
}

.camera .info .content{
    font-style: italic;
    margin-bottom: 64px;
    font-size: 18px;
}

.camera .social-medias .media-list{
    display: flex;
    gap: 32px;
    align-items: center;
    

}

.camera .social-medias .media-list .media-items{
    background-color: #909090;
    padding: 8px 12px;
    
}

.camera .social-medias .media-list .media-items i{
    font-size: 32px;
    color: #fff; 
}


.photographer {
    max-width: 1920px;
    height: calc(100vh - 36px);
    margin: 36px auto;
    position: relative;
    margin: 36px auto;
}

.photographer .img{
    width: 100%;
    height: 100%;
    
    
}

.path{
    max-width: 1920px;
    background-color: #efefef;
    margin: 36px auto;
    height: calc(100vh - 36px);
    padding: 12px 128px;
    overflow: hidden;
    display: flex;
    
    
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 10%;
}

.path .img{
    flex: 0 1 35%;
    width: 50%;
}

.path.info{
    flex: 0 0 50%;
}

.path .info .title{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 64px
}

.gallery{
    max-width: 1920px;
    background-color: #efefef;
    margin: 32px auto;
    height: calc(100vh - 36px);
    padding: 12px 128px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.gallery .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.gallery .list :nth-child(2){
    transform: scale(1.5);
}

.contacts {
    max-width: 1920px;
    background-color: #efefef;
    margin: 32px auto;
    height: calc(100vh - 36px);
    padding: 12px 128px;
    overflow: hidden;
    position: relative;
   
}

.contacts .form{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "email subject"
    "message message"
    "submit submit";
    gap: 32px;
}

.contacts .form input,
.contacts .form textarea{
    background-color: #efefef;
    border: 1px solid #222222;
    padding: 12px;
    width: 100%;
}

.contacts .form textarea {
    resize: none;
}

.contacts .form .email {
    grid-area: email;
}

.contacts .form .subject {
    grid-area: subject;
}

.contacts .form .msg {
    grid-area: message;
    
}

.contacts .form .btn {
    width: 100%;
    padding: 12px;
    text-align: center;
    border: 1px solid #222222;
    background-color:#222222;
    color: white;
  grid-area: submit;
  margin-bottom: 128px;
}

.contacts .info{
    
    text-align: center;

}
.contacts .info .content{
    font-style: italic;
    margin-bottom: 64px;
    font-size: 18px;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 64px;
}
span {
    color: #909090;
    font-weight: 200;
}
.contacts .footer{
    position: absolute;
    text-align: center;
    font-size: 16px;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%);
    

}